{% extends 'base.html.twig' %}

{% block title %}Hello AdresseController!{% endblock %}

{% block body %}
{{ form(form1) }}

<h2>2eme formulaire(adressecommandetype)</h2>
{# 
{{ form(form2) }} #}
{% endblock %}
